{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>This is the Fruit Team with with Shivansh Goel, Ryan, Lucas, and Houaxan</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    
                    <div class="card-body">
                    <h5 class="card-title">Our Goal</mark></h5>
                    <p class="card-text">
                        <ol>
                        Our team is committed to making better entertainment devices and applications
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    
                    <div class="card-body">
                    <h5 class="card-title">Our Features</h5>
                    <p class="card-text">
                        <ol>
                        What features the team is providing. We are providing Gaming, testing, and different internet applications to pique your interests
                        </ol>
                    </p>
                    
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    
                    <div class="card-body">
                    <h5 class="card-title">Our Team</h5>
                    <p class="card-text">
                        <ol>
                        Currently, our team features four individuals in AP Computer Science Principles: Shivansh Goel.... 
                        We hope to expand our team in the future, but for now, we are all very focused on delivering the best user experience possible on our site.   
                        </ol>
                    </p>
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}