{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Insert Snake Game in the home page -->
    <div class="px-5 py-5 mx-auto">
        <div class="row">
            <div class="col-6">
                <p class="card-gamerTableText">
                    <iframe name="SnakeGame" title="Snake Game"
                    allowtransparency="true" 
                    webkitallowfullscreen="true" 
                    mozallowfullscreen="true" 
                    msallowfullscreen="true" 
                    id="game_drop" 
                    allowfullscreen="true" 
                    src="/snake_game" 
                    scrolling="no" 
                    frameborder="0" style="width:300px; height: 400px;"></iframe>                     
                </p>
            </div>
            <!-- if user is logged in and has past scores then show them here -->
            {% if user_scores_json %}
            <div class="col-6">
                <table id='user_scores' style='float:right;border-collapse: separate;'>
                    {% include "user-scores.html" %}
                </table>
                <div id="user_high_score" style='float:right;border-collapse: separate;display: none;'></div>
            </div>
            {% else %}
            <!-- create a place holder as scores will be dynamically updated from with the game -->
            <div class="col-6">
                <table id='user_scores' style='float:right;border-collapse: separate;display: none;'>
                </table>
                <div id="user_high_score" style='float:right;border-collapse: separate;display: none;'></div>
            </div>
            {% endif %}
        </div>
    </div>
    
{% endblock %}