{% extends "layouts/base.html" %}
{% set project = "Login" %}
{% block body %}
<!-- login page -->
<div class="px-5 py-5 mx-auto" style="text-align: right;">
    <div class="row">
        <div class="col-12">
            <form method="post">
                <label><div class="label">Username</div><input type="text" autofocus="" placeholder="Required" required="required" name="username"></label>
                <br/><label><div class="label">Password</div><input type="password" placeholder="Required" required="required" name="password"></label>
                <p><input type=submit value=Login></p>
            </form>
            <!-- login error message -->
            {% if login_msg %}
            <br/><span style="font-style: italic;color: crimson;">{{ login_msg }}</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}