{% extends "layouts/base.html" %}
{% set project = "Snakes Leaderboards" %}
 
{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 ><strong>Lets Play Snakes!</strong></h1>
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('signup') }}>Signup</a>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gamers</h5>
                        <p class="card-gamerTableText">
                            <table id='gamersTable' border='1' width='100%' style='border-collapse: separate;'>
                                <tr>
                                    <th onclick="sortTable(0, false, 'gamersTable')">Name</th>
                                    <th onclick="sortTable(1, false, 'gamersTable')">DOB</th>
                                    <th onclick="sortTable(2, true, 'gamersTable')">Age</th>
                                    <th>#</th>
                                </tr>
                                {% for gamer in gamers %}
                                <tr>
                                    <td>{{ gamer["name"] }}</td>
                                    <td>{{ gamer["dob"] }}</td>
                                    <td>{{ gamer["age"] }}</td>
                                    <td><a href="{{ url_for('delete_gamer', id=gamer["id"], gamername=gamer["name"]) }}">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </p>
                        <a href="#" class="btn btn-primary">Reload</a>
                    </div>
                </div>
                
            </div>
            <div class="col-4">
                <div class="card">                    
                    <div class="card-body">
                    <h5 class="card-title">Leaderboards</mark></h5>
                    <p class="card-gamerTableText">
                        <table id='lboard' border='1' width='100%' style='border-collapse: separate;'>
                            <tr>
                                <th onclick="sortTable(0, false, 'lboard')">Name</th>
                                <th onclick="sortTable(1, false, 'lboard')">Date</th>
                                <th onclick="sortTable(2, true, 'lboard')">Score</th>
                            </tr>
                            {% for gamer in gamers %}
                                {% for score in gamer["scores"] %}
                                <tr>
                                    <td>{{ gamer["name"] }}</td>
                                    <td>{{ score["dateplayed"] }}</td>
                                    <td>{{ score["score"] }}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </p>
                    </div>
                </div>
            </div>
            
            <div class="col-4">
                <div class="card">
                    
                    <div class="card-body">
                    <h5 class="card-title">Snakes</mark></h5>
                    <p class="card-gamerTableText">
                        <iframe 
                        allowtransparency="true" 
                        webkitallowfullscreen="true" 
                        mozallowfullscreen="true" 
                        msallowfullscreen="true" 
                        id="game_drop" 
                        allowfullscreen="true" 
                        src="https://v6p9d9t4.ssl.hwcdn.net/html/7428585/index.html" 
                        scrolling="no" 
                        frameborder="0" style="width:300px; height: 400px;"/>                        
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}