{% extends "layouts/base.html" %}
{% set project = "Snakes Game" %}
 
{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
        
            <div class="card">
                
                <div class="card-body">
                <h5 class="card-title">Snakes</mark></h5>
                <p class="card-text">
                    <iframe allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; monetization; xr-spatial-tracking; gamepad; gyroscope; accelerometer; xr; cross-origin-isolated" 
                        allowtransparency="true" 
                        webkitallowfullscreen="true" 
                        mozallowfullscreen="true" 
                        msallowfullscreen="true" 
                        id="game_drop" 
                        allowfullscreen="true" 
                        src="https://v6p9d9t4.ssl.hwcdn.net/html/7353839/index.html" 
                        scrolling="no" 
                        frameborder="0" style="width:300px; height: 400px;"/>
                </p>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}